<h1 id="magsched">MAGSched</h1>
<p>Schedule caching server supporting multiple upstreams.</p>
<p>The main goal is to avoid having any API usage limits that external providers impose by self hosting a local copy of
  the schedule. Additionally, it provides a very simple interface for downstream consumers.</p>
<h2 id="configuration">Configuration</h2>
<p>The following environment variables are used to configure the backend:</p>
<ul>
  <li>REDIS_HOST - The IP/hostname of the redis instance</li>
  <li>REDIS_PORT - The port to use for redis</li>
  <li>REDIS_DB - The DB number to use for redis (generally a number from 0-15)</li>
  <li>REFRESH_DELAY - How long to wait between backend polls</li>
  <li>BACKENDS - A json string specifying which backend services to pull from in ascending order of priority</li>
</ul>
<p>BACKENDS takes a list of objects in this format:</p>
<pre><code class="lang-json">[
    {
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Test Guidebook"</span>,
        <span class="hljs-attr">"type"</span>: <span class="hljs-string">"guidebook"</span>,
        <span class="hljs-attr">"apikey"</span>: <span class="hljs-string">"aaaabbbbccccddddeeeeffff.aaaabbbbccccddddeeeeffff"</span>,
        <span class="hljs-attr">"guide"</span>: <span class="hljs-string">"183391"</span>
    },
    {
        <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Google Sheet"</span>,
        <span class="hljs-attr">"type"</span>: <span class="hljs-string">"sheets"</span>,
        <span class="hljs-attr">"sheet"</span>: <span class="hljs-string">"1dTp07uGTokckyXtNUGLRnK634twzaaKUF0Rp8XQGl20"</span>,
        <span class="hljs-attr">"key"</span>: <span class="hljs-string">"aaaabbbbccccddddeeeeffff"</span>,
        <span class="hljs-attr">"credentials"</span>: <span class="hljs-string">""</span>
    }
]
</code></pre>
<p>Currently, <code>sheets</code> and <code>guidebook</code> types are supported. Data pulled from services later in the
  list of backends will override data from earlier ones if they contain the same IDs. In this example, you could use
  Google Sheets to add or edit schedule entries from Guidebook.</p>
<h3 id="guidebook-configuration">Guidebook Configuration</h3>
<p>Guidebook requires an API key and a guide number, both as strings. Guidebook does not have permissions controls on
  API keys, so be very careful with them.</p>
<h3 id="google-sheets-configuration">Google Sheets Configuration</h3>
<p>Google sheets requires a sheet ID which can be pulled from the URL of a sheet.</p>
<p>Additionally it requires a Google developer API key. See <a
    href="https://developers.google.com/sheets/api/quickstart/python">https://developers.google.com/sheets/api/quickstart/python</a>
  for docs on setting up a key for this.</p>
<p>Finally, sheets requires credentials that have been authorized to access the user&#39;s account. If you start the
  server locally with credentials set to an empty string it will launch a browser window interactively to allow you to
  authorize it to access sheets on your account. Once that is complete, it will save the session key to the database and
  continually refresh it. It will also print out the value needed for this variable so that you can copy it to a remote
  server. If this server gets any serious use I&#39;ll probably implement the flow server side, but it should be at most
  a once per year thing.</p>
<h2 id="panel-displays">Panel Displays</h2>
<p>To access the panel displays go <a href="/display">here</a> then select the appropriate location.</p>
<h2 id="api">API</h2>
<p>The REST API has the following endpoints:</p>
<h3 id="get-sessions">GET /sessions</h3>
<p>Returns a list of sessions that are scheduled.</p>
<table>
  <thead>
    <tr>
      <th>Argument</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>offset</td>
      <td>0</td>
      <td>Pagination Offset</td>
    </tr>
    <tr>
      <td>limit</td>
      <td>10</td>
      <td>Pagination Result Limit (Set to -1 to get all results)</td>
    </tr>
    <tr>
      <td>sort</td>
      <td>start_time</td>
      <td>Set to the name of any key to sort results by that key</td>
    </tr>
    <tr>
      <td>time_range_start</td>
      <td></td>
      <td>Allows you to filter results to a window of time. See below.</td>
    </tr>
    <tr>
      <td>time_range_end</td>
      <td></td>
      <td>Allows you to filter results to a window of time. See below.</td>
    </tr>
    <tr>
      <td>reverse</td>
      <td>false</td>
      <td>Reverse the sort order.</td>
    </tr>
    <tr>
      <td>id</td>
      <td></td>
      <td>Filter results to match an exact ID</td>
    </tr>
    <tr>
      <td>name</td>
      <td></td>
      <td>Filter results to match an exact name</td>
    </tr>
    <tr>
      <td>start_time</td>
      <td></td>
      <td>Filter results to match an exact start_time</td>
    </tr>
    <tr>
      <td>end_time</td>
      <td></td>
      <td>Filter results to match an exact end_time</td>
    </tr>
    <tr>
      <td>all_day</td>
      <td></td>
      <td>Filter results by whether they are All Day events (TRUE/FALSE)</td>
    </tr>
    <tr>
      <td>description</td>
      <td></td>
      <td>Filter results to match an exact description</td>
    </tr>
    <tr>
      <td>locations</td>
      <td></td>
      <td>Filter results by whether they include a location in their list</td>
    </tr>
    <tr>
      <td>schedule_tracks</td>
      <td></td>
      <td>Filter results by whether they include a track in their list</td>
    </tr>
  </tbody>
</table>
<p><code>time_range_start</code> and <code>time_range_end</code> allow you to request results from a range of time. You
  can specify the endpoints in a few ways.</p>
<p>Each end of the range can be:</p>
<ul>
  <li>A unix epoch timestamp</li>
  <li>The literal word &quot;now&quot;</li>
  <li>A relative number of seconds to now with a +/- sign in front</li>
</ul>
<p>To get the next hour of events use <code>time_range_start=now&amp;time_range_end=+3600</code> for example. To get
  events starting one hour ago until the end of the schedule use <code>time_range_start=-3600</code>.</p>
<h3 id="get-sessions-id-">GET /sessions/<id>
</h3>
<p>Returns a single session object by ID:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"all_day"</span>: <span class="hljs-literal">false</span>, 
  <span class="hljs-attr">"description"</span>: <span class="hljs-string">"&lt;p&gt; Come hang out as we start the show! Maybe donate some money to Child's Play while you're here. &lt;/p&gt;"</span>, 
  <span class="hljs-attr">"end_time"</span>: <span class="hljs-string">"2022-01-06T17:00:00+00:00"</span>, 
  <span class="hljs-attr">"id"</span>: <span class="hljs-string">"27441254"</span>, 
  <span class="hljs-attr">"locations"</span>: [
    <span class="hljs-string">"3994633"</span>
  ], 
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"magFAST Opening Ceremonies"</span>, 
  <span class="hljs-attr">"start_time"</span>: <span class="hljs-string">"2022-01-06T16:30:00+00:00"</span>, 
  <span class="hljs-attr">"tracks"</span>: [
    <span class="hljs-string">"530637"</span>
  ]
}
</code></pre>
<h3 id="get-locations">GET /locations</h3>
<p>Returns a list of locations, uses same sorting and filtering as sessions.</p>
<h3 id="get-locations-id-">GET /locations/<id>
</h3>
<p>Returns a single location by ID:</p>
<pre><code class="lang-json">{
    <span class="hljs-attr">"id"</span>: <span class="hljs-string">"3985248"</span>, 
    <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Annapolis 2-4 (Panels 4)"</span>
}
</code></pre>
<h3 id="get-tracks">GET /tracks</h3>
<p>Returns a list of tracks, uses same sorting and filtering as sessions.</p>
<h3 id="get-tracks-id-">GET /tracks/<id>
</h3>
<p>Returns a single track by ID:</p>
<pre><code class="lang-json">{
    <span class="hljs-attr">"id"</span>: <span class="hljs-string">"530633"</span>, 
    <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Arcade"</span>
}
</code></pre>